<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="My_Test_Suite" preserve-order="true" verbose="2">
    <!-- test listeners -->
    <listeners>
        <listener class-name="base.TestNG_Listener" />
    </listeners>

    <test name="Reg1">
        <classes>
            <class name="tests.ExampleTest"></class>
        </classes>
    </test>

</suite>